body,
html {
    background-size: cover;
}

/* 中央寄せ*/
header {
    /* flexbox を使って横並びに */
    display: flex; 
    /* 左右に平等に */
    justify-content: space-between; 
    /* 上下も均等に */
    align-items: center; 
    margin: 50px 100px; 
}

header h1 {
    font-size: 60px;
    color: #000;
    font-weight: bolder;
}


#rule {
    color: #000;
    font-weight: lighter;
    font-size: 12px;
    margin: 0 50px 0 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px; 
    line-height: 1.6; /* 行の高さを調整 */
    text-align: justify;
}


/* メイン */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


/* カウント表示 */
#counts {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ECF4D9;
    border-radius: 20%;
}

#counts p {
    margin: 15px;
}

#counts span {
    color: #000;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

#strike {
    color: green;
}

#ball {
    color: blue;
}

#out {
    color: red;
}

.pitcher {
    height: 250px;
}


/* ルールの各項目をリストに変更し、インデントを追加 */
#rule br {
    display: none; /* 改行を非表示に */
}

#rule p {
    margin: 0; /* マージンをリセット */
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.choice {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    /* 行の幅調整で真ん中に・・・*/
    line-height: 60px;
    text-align: center;
    box-shadow: 0 0 10px black;
    /* テキストが選択できないようになる。ユーザービリティの向上によく使われるらしい */
    user-select: none;
}

.choice:hover {
    transform: scale(1.5);
    border: 3px solid red;
}

#resetbtn {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 30px 0;
    cursor: pointer;
    background-color: yellow;
    border-radius: 30%;
    width: 140px;
    height: 60px;
    text-align: center;
    user-select: none;

}

#resetbtn:hover {
    transform: scale(1.2);
    border: 3px solid orange;
}